#app {
    background-color: #000000;
    transition: 1s;
}

img {
    cursor: pointer;
}

.min-vh-100 {
    min-height: 100vh;
}

.icon {
    fill: white;
    transition: 0.5s;
}

.icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
}