/**
 * Denny Pradipta Personal Page
 *           Ver 1.0
 */

// Variables
// Colors
$color-black: #222222;
$color-white: #eeeeee;
$color-blue : #1e88e5;
$color-darkblue: #0d47a1;
// Fonts
$base-font-size: 1em;
$base-line-height: 1.5;
$header-line-height: 1.25;
$font-montserrat: 'Montserrat', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
// Sizes for Paddings and Margins
$size-xs : 8px;
$size-sm : 16px;
$size-md : 32px;
$size-lg : 64px;
// Breakpoints
$bp-smaller: 36em; // 576px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px
// Media Queries
$mq-smaller: "(min-width: #{$bp-smaller})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

/* Main Tags */
body {
    font-size: $base-font-size;
    line-height: $base-line-height;

    @media #{$mq-smaller} {
        font-size: $base-font-size*1;
        line-height: $base-line-height*1;
    }

    @media #{$mq-small} {
        font-size: $base-font-size*1.1;
        line-height: $base-line-height*1.1;
    }
  
    @media #{$mq-medium} {
      font-size: $base-font-size*1.2;
      line-height: $base-line-height*1.2;
    }
  
    @media #{$mq-large} {
      font-size: $base-font-size*1.3;
    }
  
    @media #{$mq-xlarge} {
      font-size: $base-font-size*1.4;
    }
  
    @media #{$mq-xxlarge} {
      font-size: $base-font-size*1.6;
    }
}


/* Paddings, Margins, Sizes */
.padding {
    &-xs {
        padding: $size-xs;
    }
    &-sm {
        padding: $size-sm;
    }
    &-md {
        padding: $size-md;
    }
    &-lg {
        padding: $size-lg;
    }
    &-top {
        &-xs {
            padding-top: $size-xs;
        }
        &-sm {
            padding-top: $size-sm;
        }
        &-md {
            padding-top: $size-md;
        }
        &-lg {
            padding-top: $size-lg;
        }
    }
    &-left {
        &-xs {
            padding-left: $size-xs;
        }
        &-sm {
            padding-left: $size-sm;
        }
        &-md {
            padding-left: $size-md;
        }
        &-lg {
            padding-left: $size-lg;
        }
    }
    &-bottom {
        &-xs {
            padding-bottom: $size-xs;
        }
        &-sm {
            padding-bottom: $size-sm;
        }
        &-md {
            padding-bottom: $size-md;
        }
        &-lg {
            padding-bottom: $size-lg;
        }
    }
    &-right {
        &-xs {
            padding-right: $size-xs;
        }
        &-sm {
            padding-right: $size-sm;
        }
        &-md {
            padding-right: $size-md;
        }
        &-lg {
            padding-right: $size-lg;
        }
    }
}

.margin {
    &-xs {
        margin: $size-xs;
    }
    &-sm {
        margin: $size-sm;
    }
    &-md {
        margin: $size-md;
    }
    &-lg {
        margin: $size-lg;
    }
    &-top {
        &-xs {
            margin-top: $size-xs;
        }
        &-sm {
            margin-top: $size-sm;
        }
        &-md {
            margin-top: $size-md;
        }
        &-lg {
            margin-top: $size-lg;
        }
    }
    &-left {
        &-xs {
            margin-left: $size-xs;
        }
        &-sm {
            margin-left: $size-sm;
        }
        &-md {
            margin-left: $size-md;
        }
        &-lg {
            margin-left: $size-lg;
        }
    }
    &-bottom {
        &-xs {
            margin-bottom: $size-xs;
        }
        &-sm {
            margin-bottom: $size-sm;
        }
        &-md {
            margin-bottom: $size-md;
        }
        &-lg {
            margin-bottom: $size-lg;
        }
    }
    &-right {
        &-xs {
            margin-bottom: $size-xs;
        }
        &-sm {
            margin-bottom: $size-sm;
        }
        &-md {
            margin-top: $size-md;
        }
        &-lg {
            margin-top: $size-lg;
        }
    }
}

.no {
    &-padding {
        padding: 0;
    }

    &-margin {
        margin: 0 auto;
    }

    &-overflow {
        overflow: hidden;
    }
}

.width {
    &-25vw {
        width: 25vw;
    }
    &-50vw {
        width: 50vw;
    }
    &-75vw {
        width: 75vw;
    }
    &-100vw {
        width: 100vw;
    }
}

.height {
    &-25vh {
        height: 25vh;
    }
    &-50vh {
        height: 50vh;
    }
    &-75vh {
        height: 75vh;
    }
    &-100vh {
        height: 100vh;
    }
}

/* Typography */
.font {
    &-montserrat {
        font-family: $font-montserrat;
    }
    &-opensans {
        font-family: $font-opensans;
    }
}

.line-height {
    &-12 {
        line-height: 1.25;
    }
    &-15 {
        line-height: 1.5;
    }
    &-2 {
        line-height: 2;
    }
}

.letter-spacing {
    &-1 {
        letter-spacing: 1px;
    }
    &-2 {
        letter-spacing: 2px;
    }
    &-4 {
        letter-spacing: 4px;
    }
    &-8 {
        letter-spacing: 8px;
    } 
}

/* Alignment */
.align {
    &-left {
        text-align: left;
    }
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
    &-justify {
        text-align: justify;
        text-justify: inter-word;
    }
}

.valign {
    &-top {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    &-center {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &-bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

/* Colors */
.bg {
    &-darkblue {
        background-color: $color-darkblue;
    }
    &-blue {
        background-color: $color-blue;
    }
    &-white {
        background-color: $color-white;
    }
    &-black {
        background-color: $color-black;
    }
}

.fg {
    &-darkblue {
        color: $color-darkblue;
    }
    &-blue {
        color: $color-blue;
    }
    &-white {
        color: $color-white;
    }
    &-black {
        color: $color-black;
    }
}

/* Animation */
@keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .floating {
      animation: floating 1s linear infinite;
  }
  
/* Mouse */
.mouse-pointer {
    cursor: pointer;
}

/* Div Specifics */
.bg-welcome{
    position: relative;
	height: 100vh;
	background-color: black;
    overflow-x: hidden;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: -webkit-linear-gradient(top left, #0d47a1, #eee);
        background-image: -o-linear-gradient(top left, #0d47a1, #eee);
        background-image: linear-gradient(to bottom right, #0d47a1, #eee);
        opacity: .6; 
    }
}