/**
 * Denny Pradipta Personal Page
 *           Ver 1.0
 */
/* Main Tags */
body {
  font-size: 1em;
  line-height: 1.5; }
  @media (min-width: 36em) {
    body {
      font-size: 1em;
      line-height: 1.5; } }
  @media (min-width: 48em) {
    body {
      font-size: 1.1em;
      line-height: 1.65; } }
  @media (min-width: 64em) {
    body {
      font-size: 1.2em;
      line-height: 1.8; } }
  @media (min-width: 85.375em) {
    body {
      font-size: 1.3em; } }
  @media (min-width: 120em) {
    body {
      font-size: 1.4em; } }
  @media (min-width: 160em) {
    body {
      font-size: 1.6em; } }

/* Paddings, Margins, Sizes */
.padding-xs {
  padding: 8px; }
.padding-sm {
  padding: 16px; }
.padding-md {
  padding: 32px; }
.padding-lg {
  padding: 64px; }
.padding-top-xs {
  padding-top: 8px; }
.padding-top-sm {
  padding-top: 16px; }
.padding-top-md {
  padding-top: 32px; }
.padding-top-lg {
  padding-top: 64px; }
.padding-left-xs {
  padding-left: 8px; }
.padding-left-sm {
  padding-left: 16px; }
.padding-left-md {
  padding-left: 32px; }
.padding-left-lg {
  padding-left: 64px; }
.padding-bottom-xs {
  padding-bottom: 8px; }
.padding-bottom-sm {
  padding-bottom: 16px; }
.padding-bottom-md {
  padding-bottom: 32px; }
.padding-bottom-lg {
  padding-bottom: 64px; }
.padding-right-xs {
  padding-right: 8px; }
.padding-right-sm {
  padding-right: 16px; }
.padding-right-md {
  padding-right: 32px; }
.padding-right-lg {
  padding-right: 64px; }

.margin-xs {
  margin: 8px; }
.margin-sm {
  margin: 16px; }
.margin-md {
  margin: 32px; }
.margin-lg {
  margin: 64px; }
.margin-top-xs {
  margin-top: 8px; }
.margin-top-sm {
  margin-top: 16px; }
.margin-top-md {
  margin-top: 32px; }
.margin-top-lg {
  margin-top: 64px; }
.margin-left-xs {
  margin-left: 8px; }
.margin-left-sm {
  margin-left: 16px; }
.margin-left-md {
  margin-left: 32px; }
.margin-left-lg {
  margin-left: 64px; }
.margin-bottom-xs {
  margin-bottom: 8px; }
.margin-bottom-sm {
  margin-bottom: 16px; }
.margin-bottom-md {
  margin-bottom: 32px; }
.margin-bottom-lg {
  margin-bottom: 64px; }
.margin-right-xs {
  margin-bottom: 8px; }
.margin-right-sm {
  margin-bottom: 16px; }
.margin-right-md {
  margin-top: 32px; }
.margin-right-lg {
  margin-top: 64px; }

.no-padding {
  padding: 0; }
.no-margin {
  margin: 0 auto; }
.no-overflow {
  overflow: hidden; }

.width-25vw {
  width: 25vw; }
.width-50vw {
  width: 50vw; }
.width-75vw {
  width: 75vw; }
.width-100vw {
  width: 100vw; }

.height-25vh {
  height: 25vh; }
.height-50vh {
  height: 50vh; }
.height-75vh {
  height: 75vh; }
.height-100vh {
  height: 100vh; }

/* Typography */
.font-montserrat {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px; }
.font-lato {
  font-family: "Lato", sans-serif; }

.line-height-12 {
  line-height: 1.25; }
.line-height-15 {
  line-height: 1.5; }
.line-height-2 {
  line-height: 2; }

.letter-spacing-1 {
  letter-spacing: 1px; }
.letter-spacing-2 {
  letter-spacing: 2px; }
.letter-spacing-4 {
  letter-spacing: 4px; }
.letter-spacing-8 {
  letter-spacing: 8px; }

/* Alignment */
.align-left {
  text-align: left; }
.align-center {
  text-align: center; }
.align-right {
  text-align: right; }
.align-justify {
  text-align: justify;
  text-justify: inter-word; }

.valign-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0; }
.valign-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }
.valign-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }

/* Colors */
.bg-cream {
  background-color: #EFE0BF; }
.bg-white {
  background-color: #eeeeee; }
.bg-black {
  background-color: #333333; }

.fg-darkblue {
  color: #0d47a1; }
.fg-white {
  color: #eeeeee; }
.fg-black {
  color: #333333; }

/* Animation */
@keyframes floating {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
.floating {
  animation: floating 1s linear infinite; }

/* Mouse */
.mouse-pointer {
  cursor: pointer; }

/* Div Specifics */

/*# sourceMappingURL=style.css.map */
